body{
	background-image: url("arabian-black-horse.jpg");
	background-size:cover;
}
h1{
	text-align:center;
	margin:60px 300px 130px ;
	border:10px solid #212121;
	padding:5%;
	color:blue;
	font-size:30px;

}

.make-1{
	color:red;
}

input{
	width:300px;
	height:30px;
    margin: 10px 10px 10px 10px;  
	border:6px solid #212121;


}
button{
	background-color:blue;
	color:hsla(330,60%,70%,50%);
	width:300px;
	height:30px;
	margin: 10px 10px 10px 10px; 


}
button:hover{
	background-color:#0091ea;
	color:#ffff00;
	width:300px;
	height:30px;
}

 