#mouse-hover{
	width:70%;
	height:100px;
}
/** why i do  **/
.mouse-box{
	background-color:gray;
}
.mouse-hover{
	background-color:red;
}

.square{
	width:70%;
	height:100px;
	background-color:purple;
}
